/* ======================= VARS ======================= */

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-grey: #9197b3;
  --color-text-grey-light: #b5b7c0;
  --color-text-grey-dark: #404b52;
  --color-text-green: #16c098;
  --color-chosen: #5932ea;
  --color-bg-active: rgba(22, 192, 152, 0.38);
  --color-text-active: #008767;
  --color-bg-inactive: #ffc5c5;
  --color-text-inactive: #df0404;
  --color-container-right: #fafbff;
  --table-border-color: #eee;
  --color-bg-pagination: #f5f5f5;
  --text-regular: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --text-bold: 700;
  --font-size-default: 5px;
}

/* ======================= BASIC ======================= */

/* --- INBUILT --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: var(--font-size-default);
  font-family: "Poppins", sans-serif;
  font-weight: var(--text-medium);
}
html,
body,
main {
  height: 100%;
}
main {
  grid-template-columns: auto 1fr;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
th {
  font-weight: var(--text-regular);
}
th,
td {
  border-color: inherit;
}
h1 {
  font-size: 5.2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 4.4rem;
}
input {
  font: inherit;
}
ul,
ol {
  list-style: none;
}
mark {
  background-color: inherit;
}

/* --- BUILT-ON CLASSES --- */

.bold {
  font-weight: var(--text-bold);
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.chosen {
  background-color: var(--color-chosen) !important;
}
.active {
  background-color: var(--color-bg-active);
  color: var(--color-text-active);
}
.inactive {
  background-color: var(--color-bg-inactive);
  color: var(--color-text-inactive);
}
.width100 {
  width: 100%;
}

/* ======================= MENU SECTION ======================= */

.container__left {
  padding: 6rem;
  font-size: 3rem;
  gap: 8rem;
  grid-template-rows: auto 1fr auto;
}

/* --- MENU SECTION HEADER --- */

.header__logo {
  gap: 1rem;
}
.version {
  font-size: 2rem;
  position: relative;
  top: 6px;
  color: var(--color-text-grey-light);
  font-weight: var(--text-regular);
}

/* --- MENU SECTION NAV --- */

.nav {
  gap: 3rem;
}
.nav__item {
  display: block;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid transparent;
}
.nav__item.chosen figcaption {
  color: var(--color-white);
}
.nav__item.chosen svg path {
  stroke: var(--color-white);
}
.nav__content {
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
  color: var(--color-text-grey);
  align-items: center;
}
.nav__item:hover,
.nav__item.chosen:hover {
  border-color: var(--color-chosen);
  background-color: var(--color-white);
}
.nav__item:hover .nav__content,
.nav__item.chosen:hover .nav__content {
  color: var(--color-chosen);
}
.nav__item:hover svg path,
.nav__item.chosen:hover svg path {
  stroke: var(--color-chosen);
}

/* --- MENU SECTION PROFILE --- */

.profile {
  gap: 2rem;
}
.profile__info * {
  display: block;
}
.position {
  font-size: 2.4rem;
  font-weight: var(--text-regular);
  color: var(--color-text-grey-light);
}

/* ======================= CONTENT SECTION ======================= */

.container__right {
  background-color: var(--color-container-right);
  grid-template-rows: auto 1fr;
  padding: 6rem;
  gap: 10rem;
  font-size: 3rem;
}
.greeting {
  font-weight: var(--text-medium);
}
.container__right__header .header__logo {
  display: none;
}

/* --- MENU TOGGLER --- */

.menu__toggler {
  display: none;
  cursor: pointer;
  transition: 0.1s linear;
  justify-content: center;
  padding: 2px 10px;
  border: 1px solid var(--color-text-grey-light);
  border-radius: 5px;
  background-color: var(--color-container-right);
  order: 3;

  -webkit-appearance: button;
}
.menu__toggler svg g rect {
  fill: var(--color-text-grey-dark);
}
.toggle__menu__bar {
  display: none;
  width: 35vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: var(--color-text-grey-dark);
  transition: 0.1s linear;
  padding: 6rem 2rem;
}
.toggle__menu__bar__header {
  justify-content: flex-start;
  gap: 1rem;
  color: var(--color-white);
}
.toggle__menu__bar__header svg path {
  fill: var(--color-white);
}
.toggle__menu__bar nav {
  margin-top: 10rem;
  gap: 2rem;
}

/* --- MENU TOGGLER HOVER --- */

.menu__toggler:hover {
  border: var(--color-chosen);
  background-color: var(--color-chosen);
}
.menu__toggler:hover svg g rect {
  fill: var(--color-white);
}

/* --- MENU TOGGLER ACTIVE --- */

.menu__toggler.active {
  border-color: var(--color-chosen);
  background-color: var(--color-white);
  z-index: 2;
}
.menu__toggler.active svg g rect {
  fill: var(--color-chosen);
}
.menu__toggler.active ~ .toggle__menu__bar {
  display: block;
}

/* --- CUSTOMERS TABLE WRAPPER --- */

.table__wrapper {
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 6rem 8rem 8rem 8rem;
  gap: 6rem;
}
.wrapper__title {
  font-weight: var(--text-semibold);
}
.customers__status {
  color: var(--color-text-green);
  font-weight: var(--text-regular);
}
.customers__search {
  position: relative;
}
.search__icon {
  position: absolute;
  left: 8px;
  top: 7px;
}
.customers__search__input {
  border: none;
  border-radius: 10px;
  background: var(--color-container-right);
  padding: 2rem 9rem;
  font-weight: var(--text-regular);
}
.customers__table {
  border-collapse: collapse;
  text-align: left;
}

/* --- CUSTOMERS TABLE --- */
.customers__table th {
  color: var(--color-text-grey-light);
  padding: 3rem 3rem 3rem 0;
}
.customers__table td {
  padding: 5rem 3rem 5rem 0;
}
.customers__table td:nth-child(3) {
  white-space: nowrap;
}
.customers__table th,
.customers__table td {
  border-bottom: 1px solid var(--table-border-color);
}
.customers__table th:last-child,
.customers__table td:last-child {
  text-align: center;
}
.status {
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}

/* --- CUSTOMERS TABLE PAGINATION --- */

.counter {
  color: var(--color-text-grey-light);
}
.pagination__list {
  gap: 3rem;
}
.pagination__link {
  justify-content: center;
  min-width: 6rem;
  height: 6rem;
  background-color: var(--color-bg-pagination);
  border-radius: 5px;
  color: var(--color-text-grey-dark);
}
.pagination__link.chosen {
  color: var(--color-white);
}

/* --- Input placeholder color for different browsers --- */
.customers__search__input::placeholder {
  color: var(--color-text-grey-light);
  font-family: "Poppins";
}
.customers__search__input:-ms-input-placeholder {
  color: var(--color-text-grey-light);
  font-family: "Poppins";
}
.customers__search__input::-ms-input-placeholder {
  color: var(--color-text-grey-light);
  font-family: "Poppins";
}

/* ======================= MEDIA ======================= */

@media (max-width: 1200px) {
  main {
    grid-template-columns: auto;
  }
  .container__left {
    display: none;
  }

  .menu__toggler {
    display: flex;
  }
  .container__right__header {
    grid-template-columns: auto 1fr auto;
    gap: 5rem;
  }
  .container__right__header .header__logo {
    display: flex;
    justify-content: end;
  }
  .nav__arrow {
    display: none;
  }
}

@media (max-width: 940px) {
  :root {
    --font-size-default: 4px;
  }
  .version {
    top: 5px;
  }
  .search__icon {
    left: 5px;
    top: 5px;
  }
}
@media (max-width: 768px) {
  :root {
    --font-size-default: 3px;
  }
  .version {
    top: 3px;
  }
  .search__icon {
    width: 20px;
    height: 20px;
    top: 3px;
    left: 4px;
  }
  .toggle__menu__bar {
    width: 50vw;
  }
}

@media (max-width: 580px) {
  .search__icon {
    top: 2px;
  }
  .toggle__menu__bar {
    width: 100vw;
    padding: 3rem;
  }
  .toggle__menu__bar .nav__item {
    font-size: 4rem;
  }
  .container__right {
    gap: 5rem;
  }
  .container__right__header {
    padding: 2rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .container__right {
    padding: 1rem;
  }
  .header__logo {
    grid-column-start: 1;
  }
  .greeting {
    grid-row-start: 2;
  }
  .menu__toggler {
    width: fit-content;
    justify-self: end;
  }
  .menu__toggler svg {
    width: 20px;
    height: 20px;
  }
  .table__wrapper {
    padding: 6rem 3rem;
  }
  .customers__table {
    font-size: 2rem;
  }
  .table__wrapper__footer {
    flex-direction: column;
    gap: 2rem;
  }
}
